* {
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    margin:30px 0 20px 80px;
}

h3{

    background-color: aqua;
}
h4{
    font-size: 30px;
    margin-bottom: 10px;
}
form{
        margin:60px 30px 20px 30px ;
}
.container{
height: 500px;
    display: grid;
    grid-template-columns: 300px 900px;
justify-content: space-between;

}
.range-d {
    text-align: center;
display: grid;

}
.text-w{
    text-align: center;
    justify-items: center;
    width: 600px;
    display: grid;
}
#text-1{
    width: 300px;
    height: 80px;
}
#cssCode{
    width: 300px;
    height: 80px;
}
textarea{
    resize: none;
}
.result {
    background-color: rgb(219, 157, 56);
}